<!DOCTYPE HTML>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title th:text="#{page.title.editMyInfo}">내정보 수정</title>
  <!-- 부트스트랩 CSS 파일 불러오기 -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <style>
    .field-error {
      border-color: #dc3545;
      color: #dc3545;
    }
  </style>
</head>
<body>
<div class="container justify-content-center">
  <div class="row mt-3">
    <div class="col text-center"><h2 class="font-weight-bold" th:text="#{page.title.editMyInfo}">내정보 수정</h2></div>
  </div>
  <form id="editForm" th:object="${userInfo}" th:action="@{/myPage/editMyInfo/{userId}(userId=${userInfo.userId})}" method="POST">
    <div class="row mt-3">
      <div class="col-md-5 mx-auto">
        <label for="userId" th:text="#{label.member.id}">ID</label>
        <input type="text" id="userId" th:field="*{userId}" class="form-control" value="아이디" readonly>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-5 mx-auto">
        <label for="userName" th:text="#{label.member.name}">이름</label>
        <input type="text" id="userName" th:field="*{userNm}" class="form-control" value="이름">
        <div class="field-error" th:errors="*{userNm}">
          사용자명 오류
        </div>
      </div>
    </div>
  </form>
  <div  class="row mt-3">
    <div class="col-md-5 mx-auto">
      <div class="row">
        <div class="col">
          <button class="btn btn-primary btn-lg btn-block" id="submit"
                  type="button" th:text="#{button.complete}">완료</button>
        </div>
        <div class="col">
          <button class="btn btn-secondary btn-lg btn-block"
                  onclick="location.href='/'"
                  th:onclick="|location.href='@{/myPage}'|"
                  type="button" th:text="#{button.previous}">취소</button>
        </div>
      </div>
    </div>
  </div>
</div> <!-- /container -->
</body>
<script>
  document.getElementById('submit').onclick = () => document.getElementById('editForm').submit();
</script>
</html>