<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title th:text="#{page.title.join}">회원가입</title>
    <!-- 부트스트랩 CSS 파일 불러오기 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script th:inline="javascript">
        $(document).ready(function() {
            init();
            bind();
        });

        let isDupchecked = false;
        let validatedPw = false;
        function init(){
            $('#joinBtn').prop('disabled', true);
            $('#pwMessage').hide();
            $('#idMessage').hide();
        }
        function bind(){
            changeId();
            validatePassword();
            checkNm();
        }
        //ID 중복처리버튼
        function checkDup(){
            event.preventDefault();
            $("#errorMsgId span").text("");
            if(!isDupchecked){
                var userId = $('#userId').val();
                if($('#userId').val().trim() != ""){
                    $.ajax({
                        type: 'GET',
                        url: "/users/join/checkDupId",
                        data: { userId:userId },
                        success: function(response) {
                            let dupCheckMsg;
                            if (typeof response === "string") {
                                // 중복 아이디가 없는 경우
                                dupCheckMsg = response
                                isDupchecked = true;
                            } else {
                                // 중복 아이디가 있는 경우
                                dupCheckMsg = response.message;
                                isDupchecked = false;
                            }
                            $("#dupCheckMsg").text(dupCheckMsg);
                            $('#idMessage').show();
                            $('#dupCheckMsg').toggleClass('text-success', isDupchecked);
                            $('#dupCheckMsg').toggleClass('text-danger', !isDupchecked);
                            $('#userId').toggleClass('border-danger', !isDupchecked);
                            validateAll();
                        },
                        error: function(xhr) {
                            alert(/*[[#{error.exist}]]*/ "error 발생")
                        }
                    });
                }else{
                    alert(/*[[#{error.join.needID}]]*/ "ID를 입력");
                }
            }else{
                $('#dupCheckMsg').text(/*[[#{error.join.alreadyCheckDup}]]*/ "이미 체크한 ID");
            }
        }
        function changeId(){
            $("#userId").change(function(){
                isDupchecked = false;
                $('#joinBtn').prop('disabled', true);
                $('#idMessage').hide();
            })
            validateAll();
        }
        function validatePassword() {
            $('#userPw, #userPwConfirm').on('change', function() {
                $("#errorMsgPw span").text("");
                if($("#userPw").val().trim() != ""){
                    const userPw = $('#userPw').val();
                    const userPwConfirm = $('#userPwConfirm').val();

                    if (userPw !== userPwConfirm) {
                        $('#userPwConfirmMsg').text(/*[[#{error.join.notSamePw}]]*/ "비밀번호가 일치하지 않음");
                        $('#pwMessage').show();
                        validatedPw = false;
                    }else{
                        validatedPw = true;
                        $('#userPwConfirmMsg').text(/*[[#{join.samePw}]]*/"비밀번호가 일치");
                        $('#pwMessage').show();
                    }
                    $('#userPwConfirmMsg').toggleClass('text-success', validatedPw);
                    $('#userPwConfirmMsg').toggleClass('text-danger', !validatedPw);
                    validateAll();
                }else{
                    validatedPw = false;
                    $('#pwMessage').hide();
                }
            })
        }

        function checkNm(){
            $("#userNm").change(function(){
                validateAll();
            })
        }
        function validateAll(){
            if($("#userNm").val().trim() !== "" && validatedPw && isDupchecked){
                $('#joinBtn').prop('disabled', false);
            }else{
                $('#joinBtn').prop('disabled', true);
            }
        }
    </script>
</head>
<body>
<div class="container justify-content-center">
    <!-- 제목 -->
    <div class="row mt-3" style="margin-bottom: 50px;">
        <div class="col text-center">
            <h2 class="font-weight-bold">회원 가입</h2>
        </div>
    </div>

    <!-- 가입정보 -->
    <div class="row mt-3"th:if="${failMessage}">
        <div class="col-md-5 mx-auto">
            <div class="alert alert-danger" role="alert" th:text="${failMessage}"></div>
        </div>
    </div>
    <form id="signInForm" th:action="@{/users/join}" th:object="${joinDTO}" method="post">
        <div class="mt-3 row justify-content-center">
            <label for="userId" class="col-sm-2 col-form-label font-weight-bold col-form-label-lg">*ID</label>
            <div class="col-md-5"><div class="input-group">
                <input type="text" id="userId" th:field="*{userId}" class="form-control form-control-lg" placeholder="ID를 3자이상 입력하세요." >
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button" th:onclick="checkDup()" th:text="#{button.dupCheck}">중복검사</button>
                </div>
            </div>
                <div class="d-flex flex-column">
                    <small th:id="errorMsgId" th:if="${#fields.hasErrors('userId')}" class="text-danger"><span th:errors="*{userId}"></span></small>
                    <small  id="idMessage" style="display: none" ><span th:id="dupCheckMsg"></span></small>
                </div>

            </div>
        </div>
        <div class="mt-3 row justify-content-center">
            <label for="userPw" class="col-sm-2 col-form-label font-weight-bold col-form-label-lg">*PW</label>
            <div class="col-md-5">
                <input type="password" name="password" th:field="*{userPw}" id="userPw" class="form-control form-control-lg" placeholder="비밀번호를 4자이상 입력하세요." >
            </div>
        </div>
        <div class="mt-3 row justify-content-center">
            <label for="userPwConfirm" class="col-sm-2 col-form-label font-weight-bold col-form-label-lg">*PW 확인</label>
            <div class="col-md-5">
                <input type="password" class="form-control form-control-lg" th:field="*{userPwConfirm}" id="userPwConfirm" placeholder="비밀번호 재확인" >
                <small  th:id="errorMsgPw" th:if="${#fields.hasErrors('userPw')}" class="text-danger"> <span th:errors="*{userPw}" ></span></small>
                <small  id="pwMessage" style="display: none" > <span th:id="userPwConfirmMsg"></span></small>
            </div>
        </div>
        <div class="mt-3 row justify-content-center">
            <label for="userNm" class="col-sm-2 col-form-label font-weight-bold col-form-label-lg">*이름</label>
            <div class="col-md-5">
                <input type="text" th:field="*{userNm}" id="userNm" class="form-control form-control-lg" placeholder="이름을 입력하세요." >
            </div>
        </div>
        <!-- 버튼 -->
        <div class="row mt-3 justify-content-center">
            <div class="col-md-7 mx-auto" style="margin-top: 50px;">
                <div class="row">
                    <div class="col">
                        <button type="button" id="signInBtn" class="btn btn-primary btn-lg btn-block" sec:authorize="isAnonymous()" th:href="@{/users/signIn}" onclick="location.href = this.getAttribute('href');"  th:text="#{button.singIn}">로그인</button>
                        <button type="button" class="btn btn-secondary btn-lg btn-block" onclick="location.href='/myPage/admin/allUserView'" sec:authorize="hasRole('ROLE_01')" >이전으로</button>
                    </div>
                    <div class="col">
                        <button id="joinBtn" class="btn btn-primary btn-lg btn-block" type="submit" th:text="#{button.join}" sec:authorize="isAnonymous()">회원가입</button>
                        <button class="btn btn-primary btn-lg btn-block" type="submit" th:text="#{button.addUser}" sec:authorize="hasRole('ROLE_01')">추가</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-7 mx-auto">
                <button class="btn btn-secondary btn-lg btn-block" onclick="location.href='/home'" sec:authorize="isAnonymous()" type="button">홈으로</button>
            </div>
        </div>
    </form>

</div>
</body>
</html>