<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title th:text="#{page.title.myOrderList}">주문 내역</title>
	<!-- 부트스트랩 CSS 파일 불러오기 -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script th:inline="javascript">

		function updateOrderStts(orderNum,updateCd){
			let msg = "";
			if(updateCd == '03'){
				msg = '구매확정 하시겠습니까?'
			}else if(updateCd == '02'){
				msg = '주문취소 하시겠습니까?'
			}
			if(confirm(msg)){
				var $form = $("<form>", {
					action: '/myPage/editOrderStts',
					method: 'post'
				});
				// 폼 데이터를 객체로 만듭니다.
				$form.append($("<input>", {type: 'hidden', name: 'orderNum', value: orderNum}));
				$form.append($("<input>", {type: 'hidden', name: 'orderStatusCd', value: updateCd}));

				$form.appendTo('body').submit()
			}
		}
	</script>
</head>
<body>
	<div class="container">
		<!-- 상품 목록 제목 -->
		<div class="row mt-3">
			<div class="col text-center"><h2 class="font-weight-bold" th:text="#{page.title.myOrderList}">주문 내역</h2></div>
		</div>
		<form action="/home" th:action th:object="${productSearchDTO}" method="get">
			<!-- 검색창 -->
			<div class="row mt-3">
				<div class="col-md-5">
					<!-- 상품명 검색 input -->
					<input type="text" class="form-control" th:field="*{productNm}" placeholder="상품명을 입력하세요">
				</div>
				<div class="col-md-2">
					<div class="d-flex justify-content-between">
						<!-- 검색 버튼 -->
						<button class="btn btn-primary btn-block" type="submit" th:text="#{button.search}">검색</button>
					</div>
				</div>
			</div>
		</form>
		<!-- 검색창 -->
		<div class="row mt-3"th:if="${updateMessage}">
			<div class="col-md-7 mx-auto">
				<div class="alert alert-success" role="alert" th:text="${updateMessage}"></div>
			</div>
		</div>
		<!-- 상품 목록 테이블 -->
		<div class="row mt-3">
			<div class="mt-3 col-md-12 table-responsive">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th class="text-center" style="width: 5%" th:text="#{label.product.orderNum}">주문 번호</th>
							<th class="text-center" style="width: 25%" th:text="#{label.product.productName}">상품명</th>
							<th class="text-center" style="width: 10%" th:text="#{label.product.price}">가격(원)</th>
							<th class="text-center" style="width: 10%" th:text="#{label.product.orderQuantity}">주문 수량(개)</th>
							<th class="text-center" style="width: 10%" th:text="#{label.product.totalPrice}">주문 가격(원)</th>
							<th class="text-center" style="width: 25%" th:text="#{label.product.orderStatus}">주문 가격(원)</th>
						</tr>
					</thead>
					<tbody>
						<th:block th:if="${products != null}">
							<tr th:each="product : ${products}">
								<td class="text-center" th:text="${product.orderNum}">주문번호</td>
								<td><a href="/static" th:href="@{|/product/${product.productNum}|}" th:text="${product.productNm}">상품명</a></td>
								<td class="text-center" th:text="${product.orderPrice}">상품가격</td>
								<td class="text-center" th:text="${product.orderQuantity}">수량</td>
								<td class="text-center" th:text="${product.finalPaymentPrice}">주문가격</td>
								<th:block th:if="${product.orderStatusCd eq '01'}">
									<td class="text-center">
										<button type="button" class="btn btn-primary"  th:onclick="'updateOrderStts(`'+ ${product.orderNum}+'`, `03`)'">구매확정</button>
										<button type="button" class="btn btn-secondary" th:onclick="'updateOrderStts(`'+ ${product.orderNum}+'`, `02`)'">주문취소</button>
									</td>
								</th:block>
								<th:block th:unless="${product.orderStatusCd eq '01'}">
									<td class="text-center" th:text="${product.orderStatus}">주문상태</td>
								</th:block>
							</tr>
						</th:block>
						<tr th:if="${message}">
							<td colspan="6" th:text="${message}" class="text-center"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<!-- 페이징 -->
		<nav class="mt-3" aria-label="page navigation">
			<ul class="pagination justify-content-center">
				<li class="page-item" th:classappend="${paginationInfo.currentPageNo == 1} ? disabled">
					<a class="page-link" th:href="@{/myPage/myOrderList(currentPageNo=${paginationInfo.currentPageNo - 1}
																		, productNm=${productSearchDTO.productNm})}"
					   th:text="#{button.previous}">
						이전
					</a>
				</li>
				<li class="page-item" th:classappend="${paginationInfo.currentPageNo == pageNo} ? active"  th:each="pageNo : ${#numbers.sequence(paginationInfo.firstPageNoOnPageList, paginationInfo.lastPageNoOnPageList)}">
					<a class="page-link" th:href="@{/myPage/myOrderList(currentPageNo=${pageNo}
																		, productNm=${productSearchDTO.productNm})}"
					   th:text="${pageNo}"></a>
				</li>
				<li class="page-item" th:classappend="${paginationInfo.currentPageNo == paginationInfo.totalPageCount} ? disabled">
					<a class="page-link" th:href="@{/myPage/myOrderList(currentPageNo=${paginationInfo.currentPageNo + 1}
																		, productNm=${productSearchDTO.productNm})}"
					   th:text="#{button.next}">
						다음
					</a>
				</li>
			</ul>
		</nav>

		<div class="row mt-3">
			<div class="col-md-7 mx-auto">
				<button class="w-100 btn btn-secondary btn-lg"
						onclick="location.href='home.html'"
						th:onclick="|location.href='@{/myPage}'|"
						type="button" th:text="#{button.previous}">이전</button>
			</div>
		</div>
		<div class="row mt-3"th:if="${successMessage}">
			<div class="col-md-7 mx-auto">
				<div class="alert alert-success" role="alert" th:text="${successMessage}"></div>
			</div>
		</div>
		<div class="row mt-3"th:if="${failMessage}">
			<div class="col-md-7 mx-auto">
				<div class="alert alert-danger" role="alert" th:text="${failMessage}"></div>
			</div>
		</div>
	</div>
</body>
</html>
