<!DOCTYPE HTML>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title th:text="#{page.title.product.detail}">상품상세</title>
  <!-- 부트스트랩 CSS 파일 불러오기 -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

<div class="container justify-content-center">

  <div class="row mt-3">
    <div class="col text-center"><h2 class="font-weight-bold" th:text="#{page.title.product.detail}">상품 상세</h2></div>
  </div>

  <div class="row justify-content-center mt-3">
    <label for="productNm" class="col-sm-2 col-form-label col-form-label-lg font-weight-bold" th:text="#{label.product.productName}">상품명</label>
    <div class="col-md-5">
      <input type="text" id="productNm" th:field="*{product.productNm}" class="form-control form-control-lg" value="상품A" readonly>
    </div>
  </div>
  <div class="row justify-content-center mt-3">
    <label for="productPrice" class="col-sm-2 col-form-label col-form-label-lg font-weight-bold" th:text="#{label.product.price}">상품 가격</label>
    <div class="col-md-5">
      <input type="text" id="productPrice" th:field="*{product.productPrice}" class="form-control form-control-lg" value="10000" readonly>
    </div>
  </div>
  <div class="row justify-content-center mt-3">
    <label for="discountPrice" class="col-sm-2 col-form-label col-form-label-lg font-weight-bold" th:text="#{label.product.discountPrice}">할인가격</label>
    <div class="col-md-5">
      <input type="text" id="discountPrice" th:field="*{product.discountPrice}" class="form-control form-control-lg" value="0" readonly>
    </div>
  </div>
  <div class="row justify-content-center mt-3">
    <label for="currentPrice" class="col-sm-2 col-form-label col-form-label-lg font-weight-bold" th:text="#{label.product.currentPrice}">현재 가격</label>
    <div class="col-md-5">
      <input type="text" id="currentPrice" th:value="${product.productPrice - product.discountPrice}" class="form-control form-control-lg" value="0" readonly>
    </div>
  </div>
  <div class="row justify-content-center mt-3">
    <label for="remainQuantity" class="col-sm-2 col-form-label col-form-label-lg font-weight-bold" th:text="#{label.product.remainQuantity}">남은 수량</label>
    <div class="col-md-5">
      <input type="text" id="remainQuantity" th:field="*{product.remainQuantity}" class="form-control form-control-lg" value="10" readonly>
    </div>
  </div>
  <div class="row justify-content-center mt-3">
    <label for="salesQuantity" class="col-sm-2 col-form-label col-form-label-lg font-weight-bold" th:text="#{label.product.salesQuantity}">판매 수량</label>
    <div class="col-md-5">
      <input type="text" id="salesQuantity" th:value="${product.salesQuantity}" class="form-control form-control-lg" value="10" readonly>
    </div>
  </div>
  <div class="row justify-content-center mt-3">
    <label for="views" class="col-sm-2 col-form-label col-form-label-lg font-weight-bold" th:text="#{label.product.views}">조회수</label>
    <div class="col-md-5">
      <input type="text" id="views" th:value="${product.views}" class="form-control form-control-lg" value="10" readonly>
    </div>
  </div>
  <div class="row justify-content-center mt-3">
    <label for="productStatusNm" class="col-sm-2 col-form-label col-form-label-lg font-weight-bold" th:text="#{label.product.productStts}">상품 상태</label>
    <div class="col-md-5">
      <input type="text" id="productStatusNm" class="form-control form-control-lg" th:value="*{product.productStatusNm}" th:readonly="true" readonly>
    </div>
  </div>

  <div  class="row justify-content-center mt-3">
    <div class="col-md-7">
      <hr class="my-3">
    </div>
  </div>
  <div  class="row mt-3">
    <div th:switch="${product.productStatusCd}" class="col-md-7 mx-auto d-flex justify-content-between">
        <button th:case="${T(study.toy.everythingshop.enums.ProductStatus).SALE_READY.getCode()}" class="btn btn-primary btn-lg flex-grow-1 mr-2"
                type="button" th:text="#{button.product.sale.ready}"disabled=”disabled”>판매 준비중</button>
        <button th:case="${T(study.toy.everythingshop.enums.ProductStatus).ON_SALE.getCode()}" class="btn btn-primary btn-lg flex-grow-1 mr-2" onclick="location.href='/'"
                th:onclick="|location.href='@{/product/{productNum}/order(productNum=${product.productNum})}'|"
                type="button" th:text="#{button.product.order}">상품 주문</button>
        <button th:case="${T(study.toy.everythingshop.enums.ProductStatus).SOLD_OUT.getCode()}" class="btn btn-primary btn-lg flex-grow-1 mr-2"
                type="button" th:text="#{button.product.sold.out}"disabled=”disabled”>품절</button>
        <button th:case="${T(study.toy.everythingshop.enums.ProductStatus).SALE_COMPLETED.getCode()}" class="btn btn-primary btn-lg flex-grow-1 mr-2"
                type="button" th:text="#{button.product.sale.completed}"disabled=”disabled”>판매 종료</button>
        <button class="btn btn-primary btn-lg flex-grow-1"
                onclick="location.href='/'"
                th:onclick="|location.href='@{/product/{productNum}/edit(productNum=${product.productNum})}'|"
                type="button" th:text="#{button.product.edit}">상품 수정</button>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-7 mx-auto d-flex justify-content-between">
      <button class="btn btn-secondary btn-lg flex-grow-1"
              onclick="location.href='home.html'"
              th:onclick="|location.href='@{/home}'|"
              type="button" th:text="#{button.home}">목록으로</button>
    </div>
  </div>

  <!-- 성공메세지 -->
  <div class="row mt-3"th:if="${productOrdr_success}">
    <div class="col-md-7 mx-auto d-flex justify-content-between">
      <div class="alert alert-success flex-grow-1 text-center" role="alert" th:text="${productOrdr_success}"></div>
    </div>
  </div>

</div> <!-- /container -->
</body>
</html>