<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{page.title.signIn}">로그인</title>
    <!-- 부트스트랩 CSS 파일 불러오기 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container justify-content-center">
    <!-- 페이지 타이틀 -->
    <div class="row mt-3">
        <div class="col text-center"><h2 class="font-weight-bold" th:text="#{page.title.signIn}">로그인</h2></div>
    </div>
    <!-- 입력정보 -->
    <form action="#" th:action="@{/loginProc}" method="post">
        <div class="row mt-3">
            <div class="col-md-5 mx-auto">
                <label for="userId" class="font-weight-bold" th:text="#{label.member.id}">ID</label>
                <input type="text" id="userId" name="userId" class="form-control" placeholder="아이디">
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-5 mx-auto">
                <label for="userPw" class="font-weight-bold" th:text="#{label.member.password}">PASSWORD</label>
                <input type="password" id="userPw" name="userPw" class="form-control" placeholder="비밀번호">
            </div>
        </div>
        <!-- 버튼 -->
        <div class="row mt-3">
            <div class="col-md-5 mx-auto">
                <div class="row">
                    <div class="col">
                        <button type="submit" class="btn btn-primary btn-lg btn-block" th:text="#{button.singIn}">로그인</button>
                    </div>
                    <div class="col">
                        <button class="btn btn-secondary btn-lg btn-block"
                                onclick="location.href='home.html'"
                                th:onclick="|location.href='@{/home}'|"
                                type="button" th:text="#{button.home}">목록으로</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!-- 에러메시지 -->
    <div class="row mt-3" th:if="${errorMessage}">
        <div class="col-md-5 mx-auto">
            <div class="alert alert-danger" role="alert" th:text="${errorMessage}"></div>
        </div>
    </div>
    <div class="row mt-3"th:if="${successMessage}">
        <div class="col-md-5 mx-auto">
            <div class="alert alert-success" role="alert" th:text="${successMessage}"></div>
        </div>
    </div>
</body>
</html>