<included>
    <!-- Appenders -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/everything_shop_dev.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/bak/everything_shop_dev_%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Loggers -->
    <logger name="study.toy.everythingshop" level="INFO" additivity="false">
        <appender-ref ref="FILE"/>
    </logger>
    <!-- Root Logger -->
    <root level="INFO">
        <appender-ref ref="FILE"/>
    </root>
</included>